body, html {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Asap', sans-serif;
}

#main {
  width: 100%;
  height: 100%;
}

#conteudo {
  width: 100%;
  padding: 10px 15px;
}

@media screen and (min-width: 992px) {
  #conteudo {
    padding: 30px 40px;
    max-width: calc(100% - 350px);
  }
}

#conteudo .titulo, #conteudo .sub {
  text-align: center;
}

#conteudo .titulo {
  color: #009900;
  margin: 0;
  margin-top: 30px;
  font-weight: bold;
}

#conteudo .sub {
  color: #666666;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  #conteudo .titulo, #conteudo .sub {
    text-align: left;
  }
}

#conteudo .busca {
  margin-top: 20px;
}

#conteudo .busca input, #conteudo .busca select {
  border: 2px solid #009900;
  border-radius: 10px;
  padding: 15px 10px;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  width: 100%;
}

#conteudo .busca input:focus, #conteudo .busca select:focus {
  outline: none;
}

#conteudo .busca input::-webkit-input-placeholder, #conteudo .busca select::-webkit-input-placeholder {
  opacity: .5;
}

#conteudo .busca input:-ms-input-placeholder, #conteudo .busca select:-ms-input-placeholder {
  opacity: .5;
}

#conteudo .busca input::-ms-input-placeholder, #conteudo .busca select::-ms-input-placeholder {
  opacity: .5;
}

#conteudo .busca input::placeholder, #conteudo .busca select::placeholder {
  opacity: .5;
}

@media screen and (min-width: 768px) {
  #conteudo .busca input, #conteudo .busca select {
    text-align: center;
  }
}

#conteudo .busca .palavra, #conteudo .busca .ano, #conteudo .busca .edicao, #conteudo .busca .btn-busca {
  width: 100%;
  margin-bottom: 15px;
}

#conteudo .busca .ano {
  width: 100%;
}

#conteudo .busca .ano select {
  padding: 14px 10px;
}

#conteudo .busca .btn-busca button {
  width: 100%;
  background-color: #009900;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  #conteudo .busca .ano {
    width: 30%;
  }
  #conteudo .busca .palavra, #conteudo .busca .ano, #conteudo .busca .edicao, #conteudo .busca .btn-busca {
    margin-bottom: 0;
  }
  #conteudo .busca .palavra, #conteudo .busca .ano, #conteudo .busca .edicao {
    margin-right: 20px;
  }
  #conteudo .busca .edicao {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  #conteudo .listagem {
    margin-top: 20px;
  }
}

#conteudo .listagem .item {
  background-color: #fff;
  border: 2px solid #009900;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {
  #conteudo .listagem .item {
    margin-right: 10px;
    max-width: calc(50% - 10px);
  }
  #conteudo .listagem .item:nth-child(2n) {
    margin-right: 0;
    margin-left: 10px;
  }
}

#conteudo .listagem .item .infor {
  position: relative;
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  #conteudo .listagem .item .infor {
    width: 60%;
  }
}

#conteudo .listagem .item .infor .icone {
  margin-right: 20px;
}

#conteudo .listagem .item .infor .icone img {
  width: 40px;
}

@media screen and (min-width: 768px) {
  #conteudo .listagem .item .infor .icone {
    margin-right: 10px;
  }
  #conteudo .listagem .item .infor .icone img {
    width: auto;
  }
}

#conteudo .listagem .item .infor .publicado {
  color: #2D276C;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
}

#conteudo .listagem .item .infor .tipo {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  #conteudo .listagem .item .infor .tipo {
    margin-bottom: 10px;
  }
}

#conteudo .listagem .item .infor .edicao {
  line-height: 1.2;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: inline-block;
  color: #fff;
  background-color: #009900;
  padding: 3px 5px;
}

@media screen and (min-width: 768px) {
  #conteudo .listagem .item .infor .edicao {
    font-size: 14px;
    position: unset;
    display: block;
    color: #2D276C;
    background-color: transparent;
    padding: 0;
  }
}

#conteudo .listagem .item .acoes {
  margin: 0 8px 8px;
  width: calc(100% - 16px);
  background-color: #ECF1F3;
  padding: 8px;
}

@media screen and (min-width: 768px) {
  #conteudo .listagem .item .acoes {
    margin: 0;
    width: 50%;
    background-color: transparent;
    padding: 0;
  }
}

#conteudo .listagem .item .acoes .mais-infor {
  width: 40%;
  font-size: 12px;
  line-height: 1.2;
  color: #808080;
  text-align: right;
}

#conteudo .listagem .item .acoes .mais-infor .pag {
  text-transform: uppercase;
}

#conteudo .listagem .item .acoes .mais-infor .pag, #conteudo .listagem .item .acoes .mais-infor .numero {
  font-size: 16px;
  font-weight: bold;
}

#conteudo .listagem .item .acoes .mais-infor .tamanho {
  margin-bottom: 5px;
}

#conteudo .listagem .item .acoes .botoes {
  width: 50%;
  color: #2D276C;
}

#conteudo .listagem .item .acoes .botoes .baixar, #conteudo .listagem .item .acoes .botoes .visualizar {
  height: 50px;
  padding: 10px 15px;
  border-radius: 10px;
}

#conteudo .listagem .item .acoes .botoes .baixar .icon, #conteudo .listagem .item .acoes .botoes .visualizar .icon {
  margin-bottom: 3px;
}

#conteudo .listagem .item .acoes .botoes .baixar {
  background-color: #FDD600;
  margin-right: 10px;
}

#conteudo .listagem .item .acoes .botoes .visualizar {
  background-color: #E5E5E5;
}

@media screen and (min-width: 768px) {
  #conteudo .listagem .item .acoes .botoes .baixar, #conteudo .listagem .item .acoes .botoes .visualizar {
    height: 50%;
    padding: 0;
    border-radius: 0px;
  }
  #conteudo .listagem .item .acoes .botoes .baixar .icon, #conteudo .listagem .item .acoes .botoes .visualizar .icon {
    margin-bottom: 0;
    margin-right: 5px;
  }
  #conteudo .listagem .item .acoes .botoes .baixar {
    background-color: #FDD600;
    border-top-right-radius: 10px;
    margin-right: 0;
  }
  #conteudo .listagem .item .acoes .botoes .visualizar {
    background-color: #E5E5E5;
    border-bottom-right-radius: 10px;
  }
}

#conteudo .listagem .item .acoes .botoes a {
  font-family: 'Giga Sans Black';
  font-size: 9px;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  #conteudo .listagem .item .acoes .botoes a {
    font-size: 11px;
  }
}

#lateral {
  background-color: #009900;
  color: #fff;
  width: 100%;
  max-width: 350px;
  padding: 30px 25px 20px;
}

#lateral .data {
  font-family: 'Giga Sans Bold';
  text-align: left;
  font-size: 20px;
}

#lateral .logo {
  margin: 20px 0;
}

#lateral .logo .sub {
  margin-top: 15px;
  font-family: 'Giga Sans Bold';
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
}

#lateral .contato {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */